pre {
    width: 100%;
    overflow: hidden;
    margin-right: -10px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

body::-webkit-scrollbar {
    display: none;
}

pre, textarea, blockquote {
    font-family: open sans, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
}

#gototop {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 9999;
    background: url(https://cdn.jsdelivr.net/gh/xyuansec/4nmb_com@master/static/img/arrow.png) no-repeat left top;
}

.maxwidth {
    width: 100% !important;
}

.thread-list img {
    cursor: zoom-in;
}

.thread-body, .comment-body {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

.navbar-icon {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
}

.navbar-icon div {
    height: 2px;
    margin-bottom: 3px;
    background-color: #5e6e82;
}

.navbar-icon:hover {
    background-color: #d8e2ef
}

.navicon-show {
    width: auto !important;
    display: block !important;
}

.navicon-hide {
    width: 0 !important;
    display: none !important;
}

.icon-bell-box::before {
    background-color: #2c7be5;
}

.icon-bell-box::before {
    position: absolute;
    content: '';
    right: 10px;
    top: 0;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 2px solid #edf2f9;
}

.feelings-body {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0 4px 4px 4px;
}

.feelings-body .feelings-items {
    margin: 0;
    padding: 10px;
    overflow: scroll;
    user-select: none;
    overflow-x: hidden;
}

.feelings-body .feelings-items li {
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #f7f7f7;
    list-style-type: none;
    display: inline-block;
    margin: 0 10px 12px 0;
    transition: .3s;
    -webkit-transition: .3s;
}

.feelings-body .feelings-items li:hover {
    background: #eee;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -webkit-animation: a 5s infinite ease-in-out;
    animation: a 5s infinite ease-in-out
}

.video-img {
    width: 150px;
    height: 210px;
}

.video-box {
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding: 10px;
    min-width: 150px;
}

.video-light {
    background-color: #f1f1f1;
}

.video-figure {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    opacity: .9;
}

.video-status {
    position: absolute;
    bottom: 32px;
    width: 100%;
    color: white;
    font-size: 12px;
    line-height: 32px;
    background-color: rgba(0, 0, 0, .6);
}

.video-img-box {
    width: 150px;
    height: 210px;
    background-color: darkgrey
}

.video-playlist {
    padding: 20px !important;
    height: 130px !important;
    overflow-y: scroll;
}

.figure-caption {
    font-size: 90%;
    color: #868e96;
}

.video-playlist div.col-md-1 {
    width: 20%;
    margin-bottom: 10px;
}

.video-status, .figure-caption {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 32px;
    width: 150px;
}

.pixiv-button::-webkit-scrollbar {
    height: 10px;
}

.pixiv-button::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: skyblue;
    background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent
    );
}

.pixiv-button::-webkit-scrollbar-track {
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ededed;
    border-radius: 10px;
}

.page-item:first-child, .page-item:last-child {
    white-space: nowrap;
}
