hr {
    border: 1px solid rgba(163, 203, 255, .16) !important;
}

body {
    color: #9da9bb !important;
    background-color: #061325 !important;
}

input {
    color: #d8e2ef !important;
    background-color: #0e1c2f !important;
    border: 1px solid #344050 !important;
}

select {
    border: 1px solid #344050 !important;
}

button {
    color: white !important;
}

textarea, select {
    color: #d8e2ef !important;
    background-color: #0e1c2f !important;
}

pre, span, i, th, td, ::placeholder {
    color: #9da9bb !important;
}

.bg-200 {
    background-color: #061325 !important;
}

.media-night {
    background-color: rgba(10, 24, 45, 0.76) !important;
}

.card-header {
    background-color: #132238 !important;
    border-bottom: 0 solid #061325 !important;
}

.card-footer {
    border-top: 0 solid #061325 !important;
    background-color: #132238 !important;
}

.card-img-top {
    background-color: #0e1c2f !important;
}

.notification {
    border: none !important;
    color: #9da9bb !important;
    background-color: #0e1c2f !important;
}

.modal-content {
    color: #9da9bb !important;
    background-color: #132640 !important;
}

.list-group-item {
    background-color: #0e1c2f !important;
    border: 0 solid #061325 !important;
    border-bottom: 1px solid rgba(163, 203, 255, .16) !important;
}

.dropdown-divider {
    border: 1px solid rgba(163, 203, 255, .16) !important;
}

.btn-falcon-default {
    background: #132238 !important;
    border-color: #132238 !important;
    color: #e6e6e6 !important;
    box-shadow: 0 0 0 1px rgba(0, 8, 19, .3), 0 2px 5px 0 rgba(0, 13, 33, .5), 0 1px 1.5px 0 rgba(0, 8, 1, .48), 0 1px 2px 0 rgba(0, 8, 1, .4) !important;
}

.btn-falcon-primary {
    background: #132238 !important;
    border-color: #132238 !important;
    color: #2c7be5 !important;
    box-shadow: 0 0 0 1px rgba(0, 8, 19, .3), 0 2px 5px 0 rgba(0, 13, 33, .5), 0 1px 1.5px 0 rgba(0, 8, 1, .48), 0 1px 2px 0 rgba(0, 8, 1, .4) !important;
}

.card, .bg-white, .chat-contact {
    background-color: #0e1c2f !important;
    border: 0 solid #061325 !important;
}

.navbar-glass, .dropdown-menu-card {
    background-color: rgba(6, 19, 37, .96) !important;
}

.btn-light, .btn-light.disabled, .btn-light:disabled {
    color: #9da9bb !important;
    background-color: #132238 !important;
    border: 1px solid rgba(163, 203, 255, .16) !important;
}

.navbar-light .navbar-brand, .dropdown-item, .btn-Secondary {
    color: #9da9bb !important;
}

.thread-list h4 {
    color: #9da9bb !important;
}

.nav-link, .nav-item, .navbar-card {
    background-color: transparent !important
}

.navbar-card2::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
    background-color: transparent
}

.navbar-card2::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(116, 129, 148, .3)
}

@media (max-width: 1000px) {
    .navbar-card {
        background-color: #132238 !important;
    }
}