body {
    margin: 0;
    font-family: open sans, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5e6e82;
    text-align: left;
    background-color: #edf2f9 !important;
}

.card {
    border: 0;
    border-radius: 5px;
    /* box-shadow: 0 7px 14px 0 rgba(59, 65, 94, .1), 0 3px 6px 0 rgba(0, 0, 0, .07); */
}

.card-header {
    border: 0;
    border-radius: 5px 5px 0 0 !important;
}

.card-footer {
    border: 0;
    background-color: #f9fafd !important;
}

.navbar-glass {
    background-color: rgba(237, 242, 249, .96);
}

.cursor-pointer {
    cursor: pointer;
}

.navbar-vertical {
    position: -ms-device-fixed !important;
    padding: 0;
    z-index: 1019;
    top: 69px;
    width: 100vw;
}

.btn-falcon-default {
    color: #4d5969;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 0 0 1px rgba(43, 45, 80, .1), 0 2px 5px 0 rgba(43, 45, 80, .08), 0 1px 1.5px 0 rgba(0, 0, 0, .07), 0 1px 2px 0 rgba(0, 0, 0, .08);
}

.btn-falcon-default:hover {
    color: #4d5969;
    background-color: #fff;
    border-color: #fff
}

@media (max-width: 1199px) {
    .ad-mobile {
        position: static !important;
    }

    .online-num {
        font-size: 0.5rem !important;
    }

    .navbar-nav {
        padding-bottom: 0 !important;
    }

    .navbar-card {
        right: 0 !important;
    }

    .nav-item.card.mt-3 {
        margin-top: 0 !important;
    }

    .navbar-vertical {
        position: fixed;
        top: 0;
        width: auto;
        z-index: 1026;
    }

    .navbar-collapse {
        display: none;
        margin-top: -12px;
        height: 100% !important;
    }
}

@media (max-width: 1000px) {
    .dplayer, iframe, .bilibili-ha {
        height: 200px !important;
        padding-bottom: 7px;
    }

    .bilibili-ld {
        line-height: 200px !important;
    }

    .siderbar {
        margin-top: -30px;
        padding-left: 0 !important;
    }

    .page-group ul li {
        display: none;
    }

    .page-group ul li:first-child, .page-group ul li:last-child {
        display: block;
    }

    .siderbar {
        display: block !important;
    }

    .nav-link, .nav-item {
        background-color: #edf2f9 !important;
    }
}

@media (max-width: 990px) {
    .video-box {
        float: left;
        width: 25%;
        box-sizing: border-box;
        padding: 10px;
        min-width: 150px;
    }
}

@media (max-width: 770px) {
    .video-box {
        float: left;
        width: 33%;
        box-sizing: border-box;
        padding: 10px;
        min-width: 150px;
    }
}

@media (max-width: 576px) {
    .carousel-item img {
        height: 165px !important;
    }
}

@media (max-width: 532px) {
    .video-box {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 10px;
        min-width: 150px;
    }
}

.btn-falcon-primary {
    font-weight: bold;
    color: #2c7be5 !important;
    color: #4d5969;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 0 0 1px rgba(43, 45, 80, .1), 0 2px 5px 0 rgba(43, 45, 80, .08), 0 1px 1.5px 0 rgba(0, 0, 0, .07), 0 1px 2px 0 rgba(0, 0, 0, .08)
}

.btn-falcon-primary:hover {
    color: #4d5969;
    background-color: #fff;
    border-color: #fff
}

.btn-falcon-primary.focus, .btn-falcon-primary:focus {
    color: #4d5969;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 0 0 0 rgba(228, 230, 233, .5)
}

.btn-falcon-primary.disabled, .btn-falcon-primary:disabled {
    color: #4d5969;
    background-color: #fff;
    border-color: #fff
}

.btn-falcon-primary:not(:disabled):not(.disabled).active, .btn-falcon-primary:not(:disabled):not(.disabled):active, .show > .btn-falcon-primary.dropdown-toggle {
    color: #4d5969;
    background-color: #d5e5fa;
    border-color: #d5e5fa
}

.btn-falcon-primary:not(:disabled):not(.disabled).active:focus, .btn-falcon-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-falcon-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(228, 230, 233, .5)
}

.btn-falcon-primary:focus:not(.disabled), .btn-falcon-primary:hover:not(.disabled) {
    color: #1966cc !important;
    box-shadow: 0 0 0 1px rgba(43, 45, 80, .1), 0 2px 5px 0 rgba(43, 45, 80, .1), 0 3px 9px 0 rgba(43, 45, 80, .08), 0 1px 1.5px 0 rgba(0, 0, 0, .08), 0 1px 2px 0 rgba(0, 0, 0, .08)
}

.btn-falcon-primary:active {
    box-shadow: none;
    color: #1966cc !important
}

.btn-falcon-default.focus, .btn-falcon-default:focus {
    color: #4d5969;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 0 0 0 rgba(228, 230, 233, .5)
}

.btn-falcon-default.disabled, .btn-falcon-default:disabled {
    color: #4d5969;
    background-color: #fff;
    border-color: #fff
}

.btn-falcon-default:not(:disabled):not(.disabled).active, .btn-falcon-default:not(:disabled):not(.disabled):active, .show > .btn-falcon-default.dropdown-toggle {
    color: #4d5969;
    background-color: #e6e6e6;
    border-color: #dfdfdf
}

.btn-falcon-default:not(:disabled):not(.disabled).active:focus, .btn-falcon-default:not(:disabled):not(.disabled):active:focus, .show > .btn-falcon-default.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(228, 230, 233, .5)
}

.btn-falcon-default:focus:not(.disabled), .btn-falcon-default:hover:not(.disabled) {
    color: #010305 !important;
    box-shadow: 0 0 0 1px rgba(43, 45, 80, .1), 0 2px 5px 0 rgba(43, 45, 80, .1), 0 3px 9px 0 rgba(43, 45, 80, .08), 0 1px 1.5px 0 rgba(0, 0, 0, .08), 0 1px 2px 0 rgba(0, 0, 0, .08)
}

.bg-200 {
    background-color: #edf2f9 !important;
}

.card-chat {
    height: calc(100vh - 69px - 10px);
    z-index: 1
}

.card-chat .card-body {
    position: relative;
    overflow: hidden
}

.card-chat-pane {
    height: calc(100% - 2.063rem);
    position: relative;
    overflow: hidden
}

.card-chat-content {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    height: 100%
}

.chat-sidebar {
    position: absolute;
    height: 100%;
    z-index: 11;
    top: 0;
    left: -100%;
    width: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    overflow: hidden
}

.contacts-list {
    height: calc(100%);
    border-right: 1px solid #d8e2ef;
    overflow-y: auto;
    width: 100%
}

.chat-contact {
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem;
    height: 4.188rem;
    cursor: pointer;
    border-bottom: 1px solid gainsboro;
    background-color: #fff
}

.chat-contact:after {
    position: absolute;
    content: '';
    height: 100%;
    width: .25rem;
    left: 0;
    top: 0
}

.chat-contact:focus:after, .chat-contact:hover:after {
    background-color: #00d27a
}

.chat-contact.active:after {
    background-color: #00d27a
}

.chat-contact.active + .chat-contact, .chat-contact.active:not(:first-child) {
    border-top: 1px solid #d8e2ef
}

.chat-contact-body {
    position: relative;
    min-width: 0
}

.chat-contact-title {
    font-weight: 400
}

.message-time {
    color: #b6c1d2
}

.chat-contact-content {
    font-size: .83333rem;
    color: #748194;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.unread-message {
    color: #000
}

.unread-message .chat-contact-content, .unread-message .chat-contact-title {
    font-weight: 600;
    color: #000
}

.unread-message .message-time {
    color: #2c7be5
}

.contacts-search-wrapper {
    position: relative;
    border-top: 1px solid #d8e2ef;
    border-right: 1px solid #d8e2ef;
    background-color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 2.063rem
}

.chat-contacts-search {
    padding-left: 2.12rem
}

.chat-contacts-search:focus, .chat-contacts-search:hover {
    box-shadow: none
}

.contacts-search-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #b6c1d2;
    font-size: .83333rem;
    left: 1rem
}

.chat-content-header {
    padding: 1rem;
    border-bottom: 1px solid #d8e2ef
}

.chat-content-body {
    height: calc(100% - 4.25rem)
}

.chat-content-body .scroll-content {
    position: relative
}

.chat-content-scroll-area {
    height: 100%;
    padding-bottom: 1rem;
    overflow-y: auto
}

.chat-message {
    max-width: calc(100% - 7rem);
    display: inline-block;
    position: relative
}

.btn-message-submit {
    position: absolute;
    right: 3.938rem;
    top: .1875rem
}

.btn-send {
    position: absolute;
    top: .125rem;
    z-index: 2;
    right: 1rem
}

.btn-send {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    color: #9da9bb
}

.chat-editor-area {
    border-top: 1px solid #d8e2ef;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (min-width: 576px) {
    .contacts-list {
        height: calc(100%)
    }

    .conversation-scroll-area {
        height: calc(100% - 2.188rem)
    }

    .card-chat {
        height: calc(100vh - 69px - 63.8px)
    }
}

@media (min-width: 768px) {
    .chat-sidebar {
        position: relative;
        height: 100%;
        top: 0;
        left: 0 !important;
        width: auto;
        -webkit-transition: none;
        transition: none
    }
}

@media (min-width: 992px) {
    .chat-sidebar {
        -webkit-box-flex: 0;
        flex: 0 0 17.5rem;
        max-width: 17.5rem
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }

    .navbar-vertical.navbar-expand-xl {
        position: fixed;
        width: 100%;
        top: 0;
        max-height: 100vh;
        display: block;
        max-width: 12.625rem;
    }

    .navbar-vertical.navbar-expand-xl + .content {
        margin-left: 14.625rem;
    }

    .navbar-vertical.navbar-expand-xl + .content .navbar-top {
        position: -webkit-sticky;
        position: sticky;
    }

    .navbar.navbar-expand-xl:not(.navbar-vertical) .navbar-collapse {
        overflow: visible;
    }
}

@media (min-width: 1540px) {
    .chat-sidebar {
        -webkit-box-flex: 0;
        flex: 0 0 21.88rem;
        max-width: 21.88rem
    }

    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1480px;
    }
}

.border-300 {
    border-color: #d8e2ef !important
}

.notification {
    color: #232e3c;
    text-decoration: none;
    display: -webkit-box;
    display: flex;
    font-size: .83333rem;
    font-family: open sans, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.notification:not(.notification-flush) {
    /* border: 1px solid #f9fafd; */
    background-color: #fff;
    /* box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075); */
    border-radius: .375rem;
    padding: 1rem
}

.notification:focus, .notification:hover {
    color: #0b1727;
    text-decoration: none
}

.notification-body {
    margin-bottom: .25rem
}

.notification-time {
    margin-bottom: 0;
    color: #748194;
    font-size: .83333rem
}

.notification-indicator {
    position: relative
}

.notification-indicator::before {
    position: absolute;
    content: '';
    right: .125rem;
    top: .5rem;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 2px solid #edf2f9
}

.notification-indicator-number {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    right: .125rem;
    top: .505rem;
    height: 1rem;
    width: 1rem;
    font-size: .67rem;
    color: #fff;
    font-weight: 700
}

.notification-indicator-primary::before {
    background-color: #2c7be5
}

.notification-indicator-warning::before {
    background-color: #f5803e
}

.notification-indicator-fill::before {
    border: 0
}
